<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--[if !mso]><!-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!--<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title></title>
	<!--[if (gte mso 9)|(IE)]>
	<style type="text/css">
		table {border-collapse: collapse !important;}
	</style>
	<![endif]-->
	
</head>
<body style="margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-color:#ffffff;" >
	<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;" >
		<div class="webkit" style="max-width:600px;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;" >
			<!--[if (gte mso 9)|(IE)]>
			<table width="600" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
			<tr>
			<td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
			<![endif]-->
			<table class="outer" align="center" style="border-spacing:0;font-family:sans-serif;color:#333333;Margin:0 auto;width:100%;max-width:600px;background-color:#E7E5D9;background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;" >
				<tr>
					<td class="full-width-image" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
						<img src="http://www.rasmussen.edu/images/logo-internal.png" width="200" alt="" style="border-width:0;width:100%;max-width:200px;height:auto;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;" />
					</td>
				</tr>
				<tr>
					<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
						<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
							<tr>
								<td class="inner contents" style="width:100%;text-align:left;padding-top:5px;padding-bottom:5px;padding-right:10px;padding-left:10px;" >
									<p class="h1" style="Margin:0;font-size:22px;font-weight:bold;color:#004812;Margin-bottom:10px;" >Requested Tutor Appointment</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="left-sidebar" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;font-size:0;" >
						<!--[if (gte mso 9)|(IE)]>
						</td><td width="500" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
						<![endif]-->
						<div class="column right" style="width:100%;display:inline-block;vertical-align:middle;max-width:500px;" >
							<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
								<tr>
									<td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;font-size:14px;text-align:center;" >
										<p class="h2 date" style="Margin:0;font-size:18px;font-weight:bold;color:#F0B310;Margin-bottom:0px;" ><strong>Tuesday, May 9th</strong> at <strong>6pm Central Time</strong></p>
									</td>
								</tr>
							</table>
						</div>
						<!--[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
						<![endif]-->
					</td>
				</tr>
				<tr>
					<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
						<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
							<tr>
								<td class="inner contents" style="padding-top:5px;padding-bottom:5px;padding-right:10px;padding-left:10px;width:100%;text-align:left;" >
									<p style="Margin:0;font-size:14px;color:#595933;Margin-bottom:10px;" >Hi STUDENTNAME,</p>
									<p style="Margin:0;font-size:14px;color:#595933;Margin-bottom:10px;" >I'm the tutor you scheduled a session with at the above time. I see in the notes however that you actually need help in COURSENAME. Unfortunately, I have not taken this class so I am unable to tutor in it. We are only permitted and able to tutor in classes we have taken and passed with a certain grade.</p>
									<p style="Margin:0;font-size:14px;color:#595933;Margin-bottom:10px;" >If you do not see your specific class in the Tutor Match drop down menu, it unfortunately means we do not currently have a tutor for that class. However, for additional support I would suggest reaching out to your advisor, instructor, or fellow students for help. You can set up an online Meet Session through Brainfuse with your peers to collaborate.</p>
									<p style="Margin:0;font-size:14px;color:#595933;Margin-bottom:10px;" ><a href="http://rasmussen.libanswers.com/faq/106283" style="color:#0072c6;text-decoration:underline;" >How to setup Meet session</a></p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
						<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
							<tr>
								<td class="inner contents" style="padding-top:5px;padding-bottom:5px;padding-right:10px;padding-left:10px;width:100%;text-align:left;" >
									<p class="h2" style="Margin:0;font-size:18px;font-weight:bold;color:#004812;Margin-bottom:10px;" >Some additional resources:</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="three-column" style="padding-top:0;padding-right:0;padding-left:0;text-align:center;font-size:0;padding-bottom:10px;" >
						<!--[if (gte mso 9)|(IE)]>
						<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
						<tr>
						<td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
						<![endif]-->
						<div class="column" style="width:100%;max-width:200px;display:inline-block;vertical-align:top;" >
							<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
								<tr>
									<td class="inner contents" style="padding-top:5px;padding-bottom:5px;padding-right:10px;padding-left:10px;width:100%;font-size:14px;text-align:center;" >
										<p class="h3" style="Margin:0;font-size:16px;font-weight:bold;Margin-bottom:7px;color:#F0B310;" >School of Technology Guide</p>
										<p style="Margin:0;font-size:14px;color:#595933;" >Hand-picked information and support related to subject matter and specific courses from the School of Technology.</p>
										<p style="Margin:0;font-size:14px;color:#595933;" ><a href="http://guides.rasmussen.edu/technology" style="color:#0072c6;text-decoration:underline;" >View guide</a></p>
									</td>
								</tr>
							</table>
						</div>
						<!--[if (gte mso 9)|(IE)]>
						</td><td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
						<![endif]-->
						<div class="column" style="width:100%;max-width:200px;display:inline-block;vertical-align:top;" >
							<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
								<tr>
									<td class="inner contents" style="padding-top:5px;padding-bottom:5px;padding-right:10px;padding-left:10px;width:100%;font-size:14px;text-align:center;" >
										<p class="h3" style="Margin:0;font-size:16px;font-weight:bold;Margin-bottom:7px;color:#F0B310;" >eBooks and Videos</p>
										<p style="Margin:0;font-size:14px;color:#595933;" >Online books, digital media, and videos for a variety of topics related to technology and design. </p>
										<p style="Margin:0;font-size:14px;color:#595933;" ><a href="http://proquest.safaribooksonline.com.ezproxy.rasmussen.edu/" style="color:#0072c6;text-decoration:underline;" >Safari Books Online</a></p>
									</td>
								</tr>
							</table>
						</div>
						<!--[if (gte mso 9)|(IE)]>
						</td><td width="200" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
						<![endif]-->
						<div class="column" style="width:100%;max-width:200px;display:inline-block;vertical-align:top;" >
							<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
								<tr>
									<td class="inner contents" style="padding-top:5px;padding-bottom:5px;padding-right:10px;padding-left:10px;width:100%;font-size:14px;text-align:center;" >
										<p class="h3" style="Margin:0;font-size:16px;font-weight:bold;Margin-bottom:7px;color:#F0B310;" >Video tutorials</p>
										<p style="Margin:0;font-size:14px;color:#595933;" >Videos on almost any subject you can think of including Computer Science & IT subject matter.</p>
										<p style="Margin:0;font-size:14px;color:#595933;" ><a href="https://rasmussen-kanopystreaming-com.ezproxy.rasmussen.edu/" style="color:#0072c6;text-decoration:underline;" >Kanopy</a></p>
									</td>
								</tr>
							</table>
						</div>
						<!--[if (gte mso 9)|(IE)]>
						</td>
						</tr>
						</table>
						<![endif]-->
					</td>
				</tr>
				<tr>
					<td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
						<table width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
							<tr>
								<td class="inner contents" style="padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;width:100%;text-align:left;" >
									<p style="Margin:0;font-size:14px;color:#595933;Margin-bottom:10px;" >Hopefully this helps a bit. Please feel free to reach out to me with any additional questions!</p>
									<p style="Margin:0;font-size:14px;color:#595933;Margin-bottom:10px;" >(540) 300-6234<br />Madison (ONLMadisonL)</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!--[if (gte mso 9)|(IE)]>
			</td>
			</tr>
			</table>
			<![endif]-->
		</div>
	</center>
</body>
</html>